.listado-productos {
    background-color: #f3f3f3;
}
.contenedor {
    max-width: 1200px;
    width: 95%;
    padding: 5rem 0;
    margin: 0 auto;
}
.bg-white {
    background-color: #FFF;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000 !important;
}
/* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
  }

  p.error-data{
      position: fixed;
      top: 10px;
      left: 10px;
      padding: 1rem !important;
      text-align: center;
      color:white;
      margin-top: 2rem;
  }

  .error{
      padding: 1rem;
      text-align: center;
      margin-top: -15px;
      color: white;
  }

  .logout{
      background-color: transparent;
      color: white;
      border: none;
      font-weight:bold;
      cursor: pointer;
  }